<div class="content">
    <mat-card class="card">
        <mat-card-title>
            <h1>
                Welcome
            </h1>
        </mat-card-title>
        <mat-card-content>
            <h1>This is a simple to-do list app. Use the <mat-icon>account_circle</mat-icon> to login or the button
                below to sign up</h1>
            <h5>To log in as a guest <strong>username:Guest password: pw1234</strong></h5>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="signUp()" color="primary">Sign Up</button>
        </mat-card-actions>
    </mat-card>
</div>